auto-install-peers=true
shamefully-hoist=true
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma

[allowBuilds]
@prisma/client=true
@prisma/engines=true
bcrypt=true
esbuild=true
prisma=true
core-js=true
